= simple_form_for resource, url: url, wrapper: :horizontal_form do |f|
  = render 'form_header'
  = f.input :name, required: true
  = f.input :appearance, as: :radio_buttons, label_html: { class: 'col-sm-3' }, wrapper: :custom_date_select
  = f.input :position, input_html: { value: (resource.new_record? ? Theme.maximum(:position) : resource.position) }

  - unless resource.new_record?
    .form-group.row.string.required.theme_image.form-group-valid
      %label.col-sm-3.col-form-label.string.required
        = resource.class.human_attribute_name(:image)
      .col-sm-9
        %image{ src: resource.image.preview }

  = render partial: 'form_submit', locals: { f: f }
