= simple_form_for resource, url: url, wrapper: :horizontal_form do |f|
  = render 'form_header'
  = f.input :name, required: true
  = f.input :appearance, prompt: false
  = f.input :position, input_html: { value: (resource.new_record? ? Theme.maximum(:position) : f.position) }
  = f.input :image

  = render partial: 'form_submit', locals: { f: f }
