.page-content-wrap
  .row
    .col-md-12
      .panel.panel-default
        = render partial: 'shared/index_header'
        .panel-body
          %table.table.table-bordered
            %thead
              %tr{role: 'row'}
                %th= collection.name.safe_constantize.human_attribute_name(:name)
                %th= collection.name.safe_constantize.human_attribute_name(:appearance)
                %th= collection.name.safe_constantize.human_attribute_name(:position)
                %th= collection.name.safe_constantize.human_attribute_name(:image)
                %th
            %tbody
              - collection.each do |resource|
                %tr
                  %td= resource.name
                  %td= resource.appearance_text
                  %td= resource.position
                  %td
                    %image{ src: resource.image.preview }
                  %td
                    = render partial: 'shared/options', locals: { resource: resource }

          = paginate collection
