= simple_nested_form_for resource, url: url, html: { class: 'horizontal-form' }, wrapper: :horizontal_form do |f|
  = render 'form_header'

  - role_ids = resource.role_ids
  = f.input :email, required: true
  = f.input :password, required: true if resource.new_record?
  = f.input :subject, as: :radio_buttons, label_html: { class: 'col-sm-3' }, wrapper: :custom_date_select

  .form-group
    %label.roles.required.col-sm-3.control-label= User.human_attribute_name(:roles)
    .col-sm-9
      - Role.builtin(false).all.sort.each_slice(4) do |roles|
        - roles.each do |role|
          %span.cm-checkbox
            = check_box_tag "[user][role_ids][]", role.id, role_ids.include?(role.id)
            = role.name
        %br

  = f.simple_fields_for :detail, resource.detail do |p|
    = p.input :name
    = p.input :gender, as: :radio_buttons, label_html: { class: 'col-sm-3' }, wrapper: :custom_date_select
    = p.input :position
    = p.input :mobile_phone

    - if resource.detail.present? && !resource.detail.avatar.blank?
      .form-group
        %label.roles.required.col-sm-3.control-label
        .col-sm-9
          = image_tag resource.detail.avatar.url

    = p.input :avatar, label_html: { class: 'col-sm-3 control-label', style: 'margin-right: 16px;' }
    = p.input :hiredate, as: :date, html5: true, label_html: { class: 'col-sm-3' }, wrapper: :custom_date_select

  = render partial: 'form_submit', locals: { f: f }
