= simple_form_for resource, url: url, wrapper: :h_form do |f|
  = render 'form_header'
  = f.input :name, required: true
  = f.input :industry
  = f.input :nature_of_business
  = f.input :legal_person
  = f.input :bank_address
  = f.input :bank_account
  = f.input :tax_no
  = f.input :website
  - if !resource.new_record? && resource.try(:logo).present?
    .form-group.h-form.string.optional.company_logo
      %label.col-sm-3.control-label.string.optional{for: 'company_logo'}
        = Company.human_attribute_name(:logo)
      .col-md-9
        %img.img-responsive{ src: resource.logo.url }
  = f.input :logo, type: 'file'
  = f.input :telephone
  = f.input :contact_person
  = f.input :province_id, collection: Province.options, prompt: true
  = f.input :city_id, collection: City.options, prompt: true
  = f.input :district_id, collection: District.options, prompt: true
  = f.input :address
  = f.input :fax
  = f.input :postcode
  = f.input :introduction
  = f.input :description

  = render partial: 'form_submit', locals: { f: f }
