.page-content-wrap
  #tab-general
    .row.mbl
      .col-lg-12
        .col-md-12
          #area-chart-spline{style: 'width: 100%; height: 300px; display: none;'}
      .col-lg-12
        .col-md-12
          %h3 #{resource.try(:name)}
          %br
          #tab-edit.tab-pane.fade.in
            %table.table.table-bordered.table-hover
              - resource.class::PERMIT_FIELDS.each do |field|
                %tr
                  %td.col-sm-1
                    %strong= resource.class.human_attribute_name(field)
                  %td
                    - if (field_name = field.to_s) =~ /_id$/
                      = resource.send("#{field_name.to_s.gsub('_id', '_name')}".to_sym)
                    - else
                      = resource.send(field)
              %tr
                %td{colspan: 2}= link_to t('actions.edit'), edit_company_path(resource), class: 'btn btn-info'
