.page-content-wrap
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading.ui-draggable-handle
          %h3.panel-title
            = collection.name.safe_constantize.model_name.human
            %span
              = link_to t('actions.new'), new_resource_path
          %ul.panel-controls
            %li
              = link_to 'javascript:void(0);', class: 'panel-collapse' do
                %span.fa.fa-angle-down
            %li
              = link_to '', class: 'panel-refresh' do
                %span.fa.fa-refresh

        .panel-body
          .row.mbl
            %ul.panel-controls
              %li
                = form_with(url: collection_path, method: :get) do
                  = select_tag(:province_id, options_for_select(Province.options, params[:province_id]), prompt: t('prompt.province'))
                  = submit_tag t('actions.search'), class: 'btn btn-info'

          %table.table.table-bordered
            %thead
              %tr{role: 'row'}
                %th= collection.name.safe_constantize.human_attribute_name(:name)
                %th= collection.name.safe_constantize.human_attribute_name(:code)
                %th= collection.name.safe_constantize.human_attribute_name(:name_en)
                %th= collection.name.safe_constantize.human_attribute_name(:name_abbr)
                %th= collection.name.safe_constantize.human_attribute_name(:districts_count)
                %th{class: 'span2'}
            %tbody
              - collection.each do |resource|
                %tr
                  %td= resource.full_name
                  %td= resource.code
                  %td= resource.name_en
                  %td= resource.name_abbr
                  %td= resource.districts_count
                  %td
                    = render partial: 'shared/options', locals: { resource: resource }

          = paginate collection
