= simple_nested_form_for resource, url: url, wrapper: :horizontal_form do |f|
  = render 'form_header'
  = f.input :project_id, collection: Project.numbers, prompt: false

  %fieldset
    %episodes
      - if resource.new_record? || resource.episodes.empty?
        = f.simple_fields_for :episodes, resource.episodes.build, wrapper: :horizontal_form do |p|
          = p.input :activity_date, as: :date, html5: true, label_html: { class: 'col-sm-3' }
          = p.input :usage
          = p.input :amount, hint: 'RMB', placeholder: '0.0'
          = p.input :count, collection: (1..20).to_a, prompt: true
          = p.input :description, placeholder: t('tips.desc')
          = p.link_to_remove t('actions.remove'), class: 'btn btn-danger'
      - else
        - resource.episodes.each do |episode|
          = f.simple_fields_for :episodes, episode, wrapper: :horizontal_form do |p|
            = p.input :activity_date, as: :date, html5: true, label_html: { class: 'col-sm-3' }, input_html: { value: episode.activity_date }
            = p.input :usage
            = p.input :amount, hint: 'RMB', placeholder: '0.0'
            = p.input :count, collection: (1..20).to_a, prompt: true
            = p.input :description, placeholder: t('tips.desc')
            = p.link_to_remove t('actions.remove'), class: 'btn btn-danger'

      = f.link_to_add t('actions.add'), :episodes, class: 'btn btn-info'

  %fieldset
    = hidden_field_tag :redirect_url, params[:redirect_url]
    = f.submit t('actions.save'), class: 'btn btn-default btn-info'
    = f.button :button, t('actions.reset'), type: 'reset', class: 'btn btn-default btn-warning'
