= simple_form_for resource, url: url, wrapper: :horizontal_form do |f|
  = render 'form_header'
  = f.input :name, required: true
  = f.input :model, required: true
  = f.input :brand_id, collection: Brand.options, prompt: true
  = f.input :product_unit_id, collection: ProductUnit.active_units, prompt: true

  = render partial: 'form_submit', locals: { f: f }
